* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-size: 10px;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-size: 1.6em;
    font-family: Ubuntu, sans-serif;
    color: #2d2d2d;
}

.container {
    max-width: 1070px;
    min-height: 50px;
    margin: 0 auto;
}

.list {
    list-style-type: none;
    padding: 0;
}

.link {
    text-decoration: none;
    color: inherit;
}

.nav {
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 1.5;
}

.nav .list {
    display: flex;
    justify-content: end;
    flex-wrap: wrap;
    column-gap: 40px;
    padding: 0 15px;
}

.nav-item .link {
    position: relative;
    padding: 0 12px;
}

.nav-item .link:hover::after {
    opacity: 1;
    animation-name: slidein;
    animation-duration: .7s;
    animation-fill-mode: forwards;
}

.nav-item .link::after {
    content: "";
    position: absolute;
    left: 12px;
    bottom: -5px;
    width: calc(100% - 24px);
    height: 2px;
    background-color: #000;
    opacity: 0;
    transition: .5s;
}

@keyframes slidein {
    from {
        width: 0;
    }

    to {
        width: calc(100% - 24px);
    }
}

.main .container {
    padding: 20px;
}

.profile {
    width: 100%;
}

.avatar {
    width: 388px;
    height: 480px;
    object-fit: cover;
}

.info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 30px;
}

.main-title {
    font-size: 36px;
    letter-spacing: 1px;
    margin: 0;
}

.section-title,
.main-title {
    font-family: Helvetica, Arial, sans-serif;
    color: #000;
    text-transform: uppercase;
}

.subtitle {
    font-size: 24px;
    margin: 12px 0 0;
}

.contacts {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.socials-list {
    display: flex;
    gap: 10px;
}

.socials-list .link {
    opacity: .8;
    transition: all .3s ease-in-out;
}

.socials-list .link:hover {
    opacity: 1;
}

.summary {
    margin: 0;
    padding: 20px 0;
    width: 70%;
    line-height: 1.5;
}

.layout-2-column {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 55px;
    gap: 46px;
}

.section-title {
    margin: 0;
}

.education .list-item>p {
    margin: 0;
}

.education-list .list-item {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.education-list {
    display: flex;
    flex-direction: column;
    gap: 21px;
}

.date {
    font-size: 14px;
    opacity: .8;
}

.speciality {
    font-weight: 800;
}

.title {
    margin: 30px 0 0;
    color: #000;
    font-family: Helvetica, Arial, sans-serif;
}

.courses-list {
    display: flex;
    flex-direction: column;
    gap: 8px;
    list-style-type: disc;
    padding-left: 30px;
}

.projects .list {
    line-height: 1.5;
}

.projects .link {
    transition: all .3s ease-in-out;
}

.projects .link:hover {
    text-decoration: underline;
}

.snippet {
    font-size: 14px;
    white-space: pre-wrap;
}

.skills {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 46px;
}

.skills-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.skills-list .list-item {
    background-color: rgba(0, 0, 0, .1);
    padding: 8px 11px;
    border-radius: 4px;
}

.languages-list {
    flex-direction: column;
    display: flex;
    gap: 8px;
    align-items: center;
}

.footer {
    padding: 20px;
    margin-top: 30px;
}

.footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.copyright {
    display: flex;
    align-items: center;
    gap: 10px;
}

.copyright .text {
    opacity: .8;
}

.copyright .link {
    opacity: .8;
    transition: all .3s ease-in-out;
}

.rs-school {
    width: 60px;
    height: 20px;
    background-image: url(./assets/svg/rs-school.svg);
    background-size: contain;
    background-repeat: no-repeat;
    opacity: .8;
    transition: all .3s ease-in-out;
}

.copyright .link:hover,
.rs-school:hover {
    opacity: 1;
}