@font-face {
    font-family: Inter;
    font-weight: 700;
    src: local("Inter"),
        url("./assets/fonts/Inter-Bold.woff2") format("woff2"),
        url("./assets/fonts/Inter-Bold.woff") format("woff");
}

@font-face {
    font-family: Inter;
    font-weight: 400;
    src: local("Inter"),
        url("./assets/fonts/Inter-Regular.woff2") format("woff2"),
        url("./assets/fonts/Inter-Regular.woff") format("woff");
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    color: #475569;
}

.header,
.footer {
    background-color: #F3F7FA;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

.header .container {
    position: relative;
    margin-bottom: 20px;
    margin-top: 60px;
}

.title {
    color: #111E35;
    line-height: 40px;
    margin: 0;
}

.subtitle {
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #94A3B8;
}

.avatar {
    position: absolute;
    bottom: 20%;
    border: 3px solid #fff;
    max-width: 130px;
    border-radius: 50%;
    box-shadow: inset 0px 0px 9px rgba(33, 58, 79, 0.03);
}

.info-contacts {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lead {
    margin-left: 150px;
}

.nav {
    display: flex;
    justify-content: start;
    margin-left: 150px;
}

.nav-list {
    display: flex;
    width: 45%;
    justify-content: space-between;
    padding: 0;
    list-style: none;
}

.link {
    transition: .3s;
    text-decoration: none;
    color: #2F3D55;
}

.link:hover {
    color: #94A3B8;
}

.text {
    margin: 0;
}

.list {
    margin: 0;
}

.contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.contacts .text {
    font-size: 16px;
    line-height: 24px;
    color: #2F3D55;
}

.copyright {
    display: flex;
    justify-content: space-between;
    width: 130px;
}

.logo {
    width: 60px;
}

.footer .container {
    display: flex;
    justify-content: space-between;
    padding: 60px 0;
}

.content {
    display: flex;
    justify-content: space-between;
}

.sections {
    width: 60%;
}

.sidebar {
    width: 20%;
}

.main .container {
    margin-top: 70px;
    margin-bottom: 90px;
}

.section-title {
    color: #8E9FB7;
    margin-top: 60px;
    margin-bottom: 30px;
}

.first-title {
    margin-top: 0;
}

#summary .text {
    line-height: 24px;
}

#languages .list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#languages .list-item {
    display: block;
    line-height: 30px;
}

.text-in-brackets {
    color: #8E9FB7;
    line-height: 16px;
}

#skills .list {
    list-style-type: none;
    padding: 0;
}

#skills .list-item {
    display: inline-block;
    padding: 4px 8px;
    border: 1px solid #ECF1F6;
    border-radius: 2px;
    background-color: #F1F5F9;
    line-height: 16px;
    vertical-align: 8px;
}

#education .list {
    list-style-type: none;
    padding: 0;
}

#education .text:first-child {
    line-height: 20px;
    margin-top: 24px;
}

#education .text:last-child {
    color: #A1AEBF;
    line-height: 20px;
    margin-top: 10px;
}

#projects .list {
    list-style-type: none;
    padding: 0;
    position: relative;
}

.project-title {
    margin: 0 0 0 30px;
}

.project-link {
    color: #3374F3;
}

.project-link:hover {
    color: #94A3B8;
}

#projects .list-item:before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #968DFC;
    border-radius: 2px;
    top: 3%;
}

#projects .text {
    color: #A1AEBF;
    font-weight: 400;
    line-height: 20px;
    padding-top: 15px;
    font-size: 16px;
}

.wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 6px;
    border-bottom: 1px solid rgba(209, 218, 233, 0.32);
}

.img-link {
    width: 10px;
    position: relative;
    bottom: 2px;
    margin-left: 4px;
}

.snippet {
    display: inline-block;
    background-color: #F2F7FF;
    border-radius: 6px;
    padding: 24px;
}

#courses .list-item {
    line-height: 30px;
}